-@calibration_page = true

.content{"data-controller" => "fileview"}
  .row
    .col-xl-4
      .card
        .card-header.bg-white
          .h1.card-title
            Manage your calibration
            %i.icon-cog3.ml-1{:style => "font-size: 24px;"}
        .card-body
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .row
            .col-md-6
              .form-group-feedback.form-group-feedback-right
                %label.font-weight-bold File:
                %input.form-control{"readonly" => "true", :placeholder => "Select a file", :type => "text", :value => "", "data-target" => "fileview.calibinput"}
                .form-control-feedback.text-success.mt-4
                  %i{"data-target" => "fileview.calibinputicon"}
            .col-md-4
              .form-group
                %label.font-weight-bold Key:
                %input.form-control{:placeholder => "Key", :type => "text", :value => "", "data-target" => "fileview.calibkey"}
            .col-md-2.mt-3
              %button.btn.btn-icon.legitRipple{:type => "button", "data-action" => "click->fileview#loadFile"}
                LOAD
                %i.ml-1.icon-upload

          .list-group.list-group-flush{"data-target" => "fileview.list"}
            / Stimulus code

    -# API Request
    .col-xl-6
      =haml(:'partials/_api_card')
