-@calibration_page = true

.content{"data-controller" => "fileview"}
  .row
    .col-xl-6.col-md-12
      .card
        .card-header.bg-white
          .h1.card-title
            Manage your calibration
            %i.icon-cog3.ml-1{:style => "font-size: 24px;"}
        .card-body
          %p
            Here you can load calibration files to your system.
            All the calibrations displayed here are stored on your hard drive.
            You can find them in 
            %tt /usr/share/natar-webserver/data/calibration/
             . Some are dedicated to your device, such as the camera calibration, while
            others are default configurations.
            
          %p
            A special kind of file are the markerboards. They represent the printed sheets
            of paper that can be tracked by the system. They are loaded inside the <tt>markerboard</tt> key
            as a list, then in
            %tt markerboards:[name]:xml
            to be used by the system.

          %p
            %b
              This is for advanced uses and restoration. You could break the correct function of your device if you load
              invalid calibration to specific keys.
            
          .row
                
            .col-md-6
              .form-group-feedback.form-group-feedback-right
                %label.font-weight-bold File:
                %input.form-control{"readonly" => "true", :placeholder => "Select a file", :type => "text", :value => "", "data-target" => "fileview.calibinput"}
                .form-control-feedback.text-success.mt-4
                  %i{"data-target" => "fileview.calibinputicon"}
            .col-md-4
              .form-group
                %label.font-weight-bold Key:
                %input.form-control{:placeholder => "Key", :type => "text", :value => "", "data-target" => "fileview.calibkey"}
            .col-md-2.mt-3
              %button.btn.btn-icon.legitRipple{:type => "button", "data-action" => "click->fileview#loadFile"}
                LOAD
                %i.ml-1.icon-upload

          .list-group.list-group-flush{"data-target" => "fileview.list"}
            / Stimulus code

    -# API Request
    .col-xl-6.col-md-12
      =haml(:'partials/_api_card')
